<div class="panel-container">
    <div class="card" style="width: 18rem;">
        <div class="title"><h3>Interior Painting</h3></div>
        <hr>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="title"><h3>Interior Painting</h3></div>
        <hr>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, doloremque. A eos molestias incidunt dolorum aliquid saepe ab voluptatum quasi tempora sunt voluptate quidem, sint impedit nobis expedita illum perferendis.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="title"><h3>Interior Painting</h3></div>
        <hr>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsam sed ipsa iste, adipisci quas quo optio nemo quidem repudiandae nam animi enim iusto voluptas asperiores. Magnam ex ea excepturi.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="title"><h3>Interior Painting</h3></div>
        <hr>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores eos porro labore deserunt non libero sequi. Eaque maxime iste atque quis voluptate? Ipsam eum esse, corporis amet perferendis explicabo reiciendis!</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="title"><h3>Interior Painting</h3></div>
        <hr>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam laudantium accusamus expedita quis molestias quasi, corporis ut quo sed obcaecati rerum voluptatem qui tempora quibusdam eos ducimus dolorum animi provident.</p>
        </div>
    </div>
</div>
