<div class="container">
  <div class="panel" [ngClass]="{'expand': isServiceActive, 'default': isHomePage}" (click)="updateActiveMenu('services')">
    <div class="icon" >
      <i class="bi bi-droplet-half"></i>
      <p class="label">Services</p>
    </div>
    <div class="content" *ngIf="isServiceActive">
      <app-services-page></app-services-page>
    </div>
  </div>
  <div class="panel" [ngClass]="{'expand': isGalleryActive, 'default': isHomePage}" (click)="updateActiveMenu('gallery')">
    <div class="icon" >
      <i class="bi bi-images"></i>
      <p class="label">Gallery</p>
    </div>
    <div class="content" *ngIf="isGalleryActive">
      <app-gallery></app-gallery>
    </div>
  </div>
  <div class="panel"  [ngClass]="{'expand': isContactActive, 'default': isHomePage}" (click)="updateActiveMenu('contact')">
    <div class="icon">
      <a alt="contact"><i class="bi bi-envelope-check-fill"></i></a>
      <p class="label">Contact</p>
    </div>
    <div class="content" *ngIf="isContactActive">
      <app-contact></app-contact>
    </div>
  </div>
</div>
