.container{
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon{
    color: #1D4E89;
    font-family: Courier, monospace, Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}

i{
    font-size: 50px;
}

.expand{
    width: 80%;
    border-radius: 25px;
}

.content{
    border-radius: 25px;
    padding: 15px;
    box-shadow: 9px 10px 24px -3px rgba(29,78,137,0.7);
-webkit-box-shadow: 9px 10px 24px -3px rgba(29,78,137,0.7);
-moz-box-shadow: 9px 10px 24px -3px rgba(29,78,137,0.7);
}

.default .icon, .expand .icon{
    font-size: 30px;

}

.default i, .expand i{
    font-size: 100px;
}

.icon:hover {
    color:#F79256 !important;
}

.expand > .icon{
    color: #00B2CA;
}
